<!DOCTYPE html>
<html lang="en">
<head>
<title>Jing Shu's Research Group</title>
<!-- Meta -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Responsive Portfolio Template">
<meta name="author" content="Xiaoying Riley at 3rd Wave Media">
<!-- <link rel="shortcut icon" href="../favicon.ico"> -->
<link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/{{site.favicon}}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
<!-- Google Font -->
<!-----
    <link href='//fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    --->
<!-- FontAwesome JS -->
<script defer src="../assets/fontawesome/js/all.js"></script>
<!-- Plugins CSS -->
<link rel="stylesheet" href="../assets/plugins/flickity/flickity.min.css">
<!-- Theme CSS -->
<link id="theme-style" rel="stylesheet" href="../assets/css/theme-8.css">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style>
paperlist.number {
  list-style-position:inside;
  list-style-type:decimal;
  list-style-image:inherit;
}
  </style>
</head>
<body onLoad="myfunction()">


{% include header-cv.html %}


  <article class="resume-wrapper text-center position-relative">
	    <div class="resume-wrapper-inner mx-auto text-start bg-white shadow-lg">
		    <header class="resume-header pt- pt-md-0">
			    <div class="row">
				    <div class="col-auto resume-picture-holder text-center text-md-start">
				        <img class="picture" src="../assets/images/profile.jpg" alt="">
				    </div><!--//col-->
				    <div class="col">
					    <div class="row px-4 pt-2 justify-content-center justify-content-md-between">
						    <div class="primary-info col-auto">
							    <h1 class="name mt-0 mb-0 text-white text-uppercase text-uppercase">Jing Shu</h1>
							   
							    <ul class="list-unstyled">
								<li class="mb-1">Professor, the school of physics of Peking University</li>
								<li class="mb-1"><a class="text-link" href="#">Chengfu Road 209 #,  Haidian District, Beijing 100871, China</a></li>
								    <li class="mb-1"><a class="text-link" href="#"><i class="far fa-envelope fa-fw me-2" data-fa-transform="grow-3"></i>  jshu@pku.edu.cn</a></li>
								   
									<li class="mb-2">Publications: <a class="text-link word-wrap:break-word" href="https://inspirehep.net/authors/1019902"> inspirehep link</a></li>
									
							    </ul>
						    </div><!--//primary-info-->
						    
					    </div><!--//row-->
					    
				    </div><!--//col-->
			    </div><!--//row-->
		    </header>
		    <div class="resume-body p-5">
					
				    <div class="pe-1">
					
					
									 {% for post in site.experiences %}
                                     {% include archive-single-research-intro.html %}
                                     {% endfor %}
					
	
				    </div>
				

 


	 <section class="resume-section education-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">EXPERTISE</h2>
						    <div class="resume-section-content">
							
							        {% for post in site.expertises %}
                                     {% include archive-single-research-intro.html %}
                                     {% endfor %}
								 
								 
							    <ul class="list-unstyled">
							    </ul>
						    </div>
					    </section><!--//education-section--> 			
		
		  <section class="resume-section education-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">SELECTED INVITED TALKS</h2>
						    <div class="resume-section-content">
							   <ul class="list-styled">
							   
							   

																
								     {% for post in site.talks %}
									
								    <li class="mb-2 resume-degree">
                                     {% include archive-single-talks-list.html %}
									</li>
                                     {% endfor %}
								
									
							    </ul>
						    </div>
					    </section><!--//education-section--> 
						
						 <section class="resume-section education-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">SELECTED PUBLICATIONS</h2>
						    <div class="resume-section-content resume-degree nowrap">
							  
								
								     {% for post in site.publications %}
                                     {% include archive-single-publications.html %}
                                     {% endfor %}
								<paperlist class="number mb-2  ">	
							    </paperlist>
						    </div>
					    </section><!--//education-section-->  
		    </div><!--//resume-body--> 
		    
	    </div>
    </article>  

        {% include footer.html %} 	   


	

<!-- *****CONFIGURE STYLE (REMOVE ON YOUR PRODUCTION SITE)****** -->
<!-- Javascript -->
<script type="text/javascript" src="../assets/plugins/popper.min.js"></script>
<script type="text/javascript" src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../assets/plugins/vanilla-back-to-top.min.js"></script>
<!-- Page Specific JS -->
<script type="text/javascript" src="../assets/plugins/flickity/flickity.pkgd.min.js"></script>
<!-- Custom JS -->
<script type="text/javascript" src="../assets/js/main.js"></script>
<script type="text/javascript" src="../assets/js/flickity-custom.js"></script>
<!-- Style Switcher (REMOVE ON YOUR PRODUCTION SITE) -->
<script type="text/javascript" src="../assets/js/demo/style-switcher.js"></script>
<!--  *****The roll-up part is beginning *********** -->
<!--  **************** -->
	
</body>
</html>
